body {
    background: #fafafa;
}
.dino {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    background: url(img/dino.png);
}
.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background: url(img/cactus.png);
}
.game-over {
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace
}
@keyframes sliderRight {
    from {background-position: 70000%;}
    to {background-position: 0;}
}
.background {
    position: absolute;
    bottom: 0;
    background: url(img/background.png) repeat-x;
    animation: sliderRight 600s infinite linear;
    width: 100%;
    height: 200px;
}